In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
# ! pip install sdv

In [3]:
# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd
import numpy as np

import commonfunc

In [5]:
data_set_path = "./sampled_data_csv_100/"

# procedures_icd

## Data Process

In [7]:
procedures_icd_df = commonfunc.read_csv_no_rowid(data_set_path + "procedures_icd.csv")

In [8]:
procedures_icd_df.head()

   subject_id  hadm_id  seq_num  icd9_code
0       87197   176931        1       8191
1        1765   145878        1       9671
2        1765   145878        2       9604
3        1765   145878        3        640
4        1765   145878        4       9955

## Data preproces

In [9]:
procedures_icd_df.drop(['seq_num'], axis=1, inplace=True)

#### Deal with missing values

In [10]:
commonfunc.nan_count(procedures_icd_df)

Total columns: 3
Total rows: 459
--------------
subject_id    0
hadm_id       0
icd9_code     0
dtype: int64

In [11]:
procedures_icd_df.dropna(subset=['hadm_id'], inplace=True, axis=0)

In [13]:
commonfunc.nan_count(procedures_icd_df)

Total columns: 3
Total rows: 459
--------------
subject_id    0
hadm_id       0
icd9_code     0
dtype: int64

#### Set the column types

In [14]:
procedures_icd_df.dtypes

subject_id    int64
hadm_id       int64
icd9_code     int64
dtype: object

#### Process special data

#### Process time series

---

## Build model

### Set constraints

In [15]:
procedures_icd_df.columns

Index(['subject_id', 'hadm_id', 'icd9_code'], dtype='object')

In [16]:
constraints = []

### Build model

In [17]:
train_data = procedures_icd_df

In [ ]:
best_model = commonfunc.build_model(constraints=constraints, train_data=train_data)

Strat training ...
Tabular Preset
Gaussian Copula
CTGAN
CopulaGAN

In [17]:
model_save_path = data_set_path + "100_models/" + "procedures_icd_model.pkl"
common.save_model(best_model, model_save_path)

---

## Evaluate data

### Generate synthetic data

In [18]:
date_load_path = data_set_path + "100_models/" + "procedures_icd_model.pkl"
model = common.load_model(date_load_path)

In [19]:
sample = model.sample(num_rows=len(train_data))

### Evaluation

In [20]:
from sdv.evaluation import evaluate

In [21]:
evaluate(sample, train_data, metrics=['ContinuousKLDivergence'])

0.1675053069126798

In [22]:
evaluate(sample, train_data, metrics=['DiscreteKLDivergence'])

nan

In [23]:
evaluate(sample, train_data)

0.5036008809847817